* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;

}

.intro {
    background-image: url("img/intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 8rem;
    color: #fff;
}

.deliver-game-container {
    display: none;
}

header {
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}

.player {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 3rem;
    align-self: center;
}

:root {
    --p1PositionX: 0px;
    --p1PositionY: 0px;
    --p2PositionX: 0px;
    --p2PositionY: 640px;
}

.deliver-map {
    width: 1120px;
    height: 720px;
    background: lightgray;
    position: relative;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.home {
    background-image: url("img/bulding-top-4.png");
    position: absolute;
    width: 80px;
    height: 80px;
    
}

.car {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
    transition: top 0.5s, left 0.5s, transform 0.1s;
}

.player1 {
    background-image: url("img/black-pickup.png");
    background-size: 50%;
    top: var(--p1PositionY);
    left: var(--p1PositionX);
    transform: rotate(90deg);
}


.player2 {
    background-image: url("img/player2.png");
    top: var(--p2PositionY);
    left: var(--p2PositionX);
    transform: rotate(90deg);
}

.scores {
    margin: 15px 0;
}

.coin {
    background-image: url("img/coin.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
    animation: rotateCoin 2s linear infinite;
}

.gold {
    background-image: url("img/gold.png");
}

@keyframes rotateCoin {
    from {
        transform: rotateY(0deg);
    }
  
    to {
        transform: rotateY(360deg);
    }
  }
  
  div {
    animation-duration: 0.1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.deliver {
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid green;
}

.finish-game-disabled {
    display: none;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: green;
    color: white;
    font-size: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
}

.winner {
    font-size: 5rem;
    color: white;
}

.finish-game-enabled {
    top: 0;
}
